<div class="container">
    <div style="width:800px;">
        <div style="width:450px; float:left;">
            <img src="https://drive.google.com/uc?export=view&id=1RzSnsskpwa9Vyh9g39unKXwlwBrW6MQW
            " class="img-thumbnail" alt="...">
            </div>
        <div style="width:300px; float:right;">       
        <h2>
            About us
        </h2>
        <p>
            I'm a systems engineering student focus on web development with goals oriented at programming world
            This is a prototype of a basic project with the objective to show the knowledges learned in the course from UTN and LA2
        </p>
        <div type="button">
            <button [routerLink]="['/contact']">Contact with me</button>
        </div>
    </div>
</div>









</div>