.clothes-container {
    padding: 1.5rem;
    display:grid;
    grid-template-columns: 1fr; //Para celular
    gap: 1rem;


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    grid-template-columns: repeat(2,1fr); // Para tablet

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    grid-template-columns: repeat(3,1fr); //Para PC

}

}
