
<article class="clothes-container">
    <section *ngFor = "let clothe of clothes; let i= index" class="clothes-item">
        <div class="card" style="width: 100%;">
            <img src="{{clothe.imgF}}" class="card-img-top" alt="..." onmouseover src="{{clothe.imgB}}" onmouseout src ="{{clothe.imgF}}">
            <div class="card-body">
               <h5 class="card-title">{{clothe.name}}</h5>  <!--clothe sale de la linea 3 del ngFor q es la propiedad que se itera -->
              <p class="card-text">{{clothe.price}} </p>
              <button [routerLink]="['/details',i]" (click)="navigate()" class="btn btn-primary">Comprar</button>
                    <!-- Mando por parametro el id a cada boton de cada articulo -->
            </div>
          </div>
    </section>
</article>
